{% comment %} Version: 1.2.0 {% endcomment %}

{% comment %}
  ---------------------------------------------------------
  Copyright © 2024 Sternify. All rights reserved.
  Any unauthorized reproduction, alteration, or distribution
  of this code, in part or in whole, is expressly forbidden.
  Violators will be subject to legal prosecution to the maximum
  extent permitted by law. For permissions or inquiries,
  please contact us in our discord server: https://discord.gg/NHHCEPhsG8
  ---------------------------------------------------------
{% endcomment %}

<script>
  function check_section () {
    if ('sternify' in window) {
      console.log('Variable exists.');
    } else {
      console.log('Variable doesnt exists.');
      document.querySelector('.st_check-section--{{ section.id }}').style.display = 'none';
      {% if request.design_mode %}
      document.querySelector('.st_not-found').innerHTML = `<style>
        .st_not-found-wrapper {
          display: none;
          max-width: 130rem;
          display: flex;
          margin: 0 auto;
          gap: 100px;
          height: 50rem;
          align-items: center;
          justify-content: flex-start;
          background-color: #fbfbfb;
          border-radius: 30px;
          /* border: 1px red dashed; */
          /* padding: 30px; */
          margin-block: 70px;
        }
        .st_not-found-img-wrapper {
          height: 100%;
          display: flex;
        }
        .st_not-found-img-wrapper img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          border-radius: 20px;
        }
        .st_not-found-text-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 50%;
          gap: 10px;
        }
        .st_not-found-title {
          font-size: 30px;
          font-family: 'Poppins';
          font-weight: 700;
          line-height: 1.3;
        }
        .st_not-found-steps-wrapper {
          font-size: 20px;
        }
        .st_not-found-steps-title {
          font-family: 'Poppins';
          font-weight: 500;
          font-size: 20px;
        }
        .st_not-found-icon {
          padding: 10px;
          background-color: #ffeded;
          width: 50px;
          height: 50px;
          border-radius: 10px;
        }
        .st_not-found-icon svg {
          max-height: 100%;
          max-width: 100%;
          fill: #ff0000;
        }

        @media screen and (max-width: 600px) {
          .st_not-found-wrapper {
            flex-direction: column;
            height: unset;
            gap: 20px;
            padding: 30px;
          }
          .st_not-found-text-wrapper {
            max-width: 90%;
          }
          .st_not-found-img-wrapper {
            height: fit-content;
          }
        }
      </style>

      <div class="st_not-found-wrapper">
        <div class="st_not-found-img-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0799/5880/2740/files/Frame_158.png?v=1716736704">
        </div>
        <div class="st_not-found-text-wrapper">
          <div class="st_not-found-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#F3F3F3" viewBox="0 0 256 256">
              <path d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z"></path>
            </svg>
          </div>
          <div class="st_not-found-title">Oops! Sternify 💫 ist nicht aktiv</div>
          <div class="st_not-found-steps-wrapper">
            <div class="st_not-found-steps-title">Gehe wie folgt vor:</div>
            <div class="st_not-found-steps">
              <div>1. Klicke auf Einbettungen</div>
              <div>2. Aktiviere Sternify</div>
              <div>3. Speichern und Du bist Startklar!</div>
            </div>
          </div>
        </div>
      </div>`;
      {% endif %}
    }
  }

  document.addEventListener('DOMContentLoaded', function check_section () {
    check_section();
  });

  document.addEventListener('shopify:section:load', function () {
    console.log('shopify:section:load');
    check_section();
  });

  document.addEventListener('shopify:inspector:activate', function () {
    console.log('shopify:inspector');
    check_section();
  });

  check_section();
</script>

{% javascript %}
  console.log('hey');
{% endjavascript %}

<div class="st_not-found"></div>

{% comment %}
  {% if request.design_mode %}
    <style>
      .st_not-found-wrapper {
        display: none;
        max-width: 130rem;
        display: flex;
        margin: 0 auto;
        gap: 100px;
        height: 50rem;
        align-items: center;
        justify-content: flex-start;
        background-color: #fbfbfb;
        border-radius: 30px;
        /* border: 1px red dashed; */
        /* padding: 30px; */
        margin-block: 70px;
      }
      .st_not-found-img-wrapper {
        height: 100%;
        display: flex;
      }
      .st_not-found-img-wrapper img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
      .st_not-found-text-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        gap: 10px;
      }
      .st_not-found-title {
        font-size: 30px;
        font-family: 'Poppins';
        font-weight: 700;
        line-height: 1.3;
      }
      .st_not-found-steps-wrapper {
        font-size: 20px;
      }
      .st_not-found-steps-title {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
      }
      .st_not-found-icon {
        padding: 10px;
        background-color: #ffeded;
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
      .st_not-found-icon svg {
        max-height: 100%;
        max-width: 100%;
        fill: #ff0000;
      }

      @media screen and (max-width: 600px) {
        .st_not-found-wrapper {
          flex-direction: column;
          height: unset;
          gap: 20px;
          padding: 30px;
        }
        .st_not-found-text-wrapper {
          max-width: 90%;
        }
        .st_not-found-img-wrapper {
          height: fit-content;
        }
      }
    </style>

    <div class="st_not-found-wrapper">
      <div class="st_not-found-img-wrapper">
        <img src="https://cdn.shopify.com/s/files/1/0799/5880/2740/files/Frame_158.png?v=1716736704">
      </div>
      <div class="st_not-found-text-wrapper">
        <div class="st_not-found-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#F3F3F3" viewBox="0 0 256 256">
            <path d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z"></path>
          </svg>
        </div>
        <div class="st_not-found-title">Oops! Sternify 💫 ist nicht aktiv</div>
        <div class="st_not-found-steps-wrapper">
          <div class="st_not-found-steps-title">Gehe wie folgt vor:</div>
          <div class="st_not-found-steps">
            <div>1. Klicke auf Einbettungen</div>
            <div>2. Aktiviere Sternify</div>
            <div>3. Speichern und Du bist Startklar!</div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endcomment %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>

<style>
  .st_img-text-wrapper--{{ section.id }} {
    margin: 0px auto;
    max-width: 140rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    padding-inline: 50px;
    flex-direction: {% if section.settings.bild_position == 'rechts' %}row{% else %}row-reverse{% endif %};
  }

  .st_img-text-text--{{ section.id }} {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .st_img-text-text-title--{{ section.id }} h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
  }

  .st_img-text-text-title--{{ section.id }} h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  .st_img-text-image--{{ section.id }} {
    width: 50%;
    position: relative;
    height: fit-content;
  }

  .st_img-text-image-floating--{{ section.id }} {
    position: absolute;
    {% if section.settings.bild_position == 'rechts' %}
    left: -70px;
    {% else %}
    right: -70px;
    {% endif %}
    bottom: 10%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
  }

  .st_img-text-image-usp-box--{{ section.id }} {
    padding: 20px;
    border-width: 2px;
    border-color: #d3d8d6;
    border-style: dotted;
    background: {{ section.settings.box_hintergrund }};
  }
  .st_img-text-image-usp-wrapper--{{ section.id }} {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .st_img-text-image-usp-item--{{ section.id }} {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .st_img-text-image-usp-item-image--{{ section.id }} {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  .st_img-text-image-usp-item-image--{{ section.id }} img {
  }
  .st_img-text-image-usp-item-text--{{ section.id }} {
    font-size: 16px !important;
  }

  .st_img-text-image-usp-item-text--{{ section.id }} *{
    color: {{ section.settings.box_text }};
  }

  @media only screen and (max-width: 1024px) {
    .st_img-text-image--{{ section.id }} {
      width: 100%;
    }
    .st_img-text-text--{{ section.id }} {
      width: 100%;
    }
    .st_img-text-wrapper--{{ section.id }} {
      flex-direction: column-reverse;
      gap: 60px;
      padding-inline: 0px;
    }
    .st_img-text-text--{{ section.id }} {
      padding: 0 20px;
    }
    .st_img-text-image-floating--{{ section.id }} {
      left: 5%;
      bottom: -40px;
      width: 120px;
      height: 120px;
    }
    .st_img-text-image-usp-item-text--{{ section.id }} {
      font-size: 14px !important;
    }
  }
</style>

<div class="st_wrapper st_check-section--{{ section.id }}">
  <div class="st_img-text-wrapper--{{ section.id }}">
    <div class="st_img-text-text--{{ section.id }}">
      <div class="st_img-text-text-title--{{ section.id }}">
        <h3>{{ section.settings.titel }}</h3>
        <h2>{{ section.settings.sub_titel }}</h2>
      </div>
      {{ section.settings.text }}
      {% if section.blocks.size > 0 %}
        <div class="st_img-text-image-usp-box--{{ section.id }}">
          <div class="st_img-text-image-usp-wrapper--{{ section.id }}">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'vorteil' -%}
                  <div class="st_img-text-image-usp-item--{{ section.id }}">
                    <div class="st_img-text-image-usp-item-image--{{ section.id }}">
                      {% if block.settings.icon %}
                        <img src="{{ block.settings.icon | image_url: width: "20" }}">
                      {% else %}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="100pt"
                          height="100pt"
                          viewBox="0 0 100 100"
                          version="1.1"
                        >
                          <g id="#000000fe">
                          <path fill="#000000" opacity="1.00" d=" M 47.65 0.00 L 51.20 0.00 C 53.01 1.14 54.61 3.35 53.36 5.49 C 52.20 7.86 49.23 7.43 47.06 7.71 C 33.06 8.40 19.95 16.92 13.08 29.05 C 7.49 38.81 6.01 50.84 9.18 61.64 C 12.46 73.44 21.21 83.52 32.33 88.60 C 41.94 93.05 53.22 93.69 63.26 90.33 C 78.28 85.51 90.02 71.66 92.01 55.97 C 92.62 53.18 91.82 49.90 93.47 47.46 C 95.38 45.16 98.43 46.56 100.00 48.47 L 100.00 52.31 C 99.31 66.76 92.08 80.72 80.58 89.52 C 72.72 95.71 62.95 99.23 53.00 100.00 L 47.23 100.00 C 33.17 99.13 19.58 92.20 10.88 81.08 C 4.45 73.14 0.78 63.18 0.00 53.02 L 0.00 47.23 C 0.72 36.49 4.80 25.98 11.80 17.78 C 20.61 7.22 33.92 0.68 47.65 0.00 Z"/>
                          <path fill="#000000" opacity="1.00" d=" M 90.79 14.66 C 92.09 13.33 93.95 11.82 95.91 12.84 C 98.36 13.83 99.16 17.33 97.00 19.05 C 81.24 34.93 65.34 50.70 49.49 66.49 C 48.01 68.34 45.00 68.44 43.53 66.52 C 37.86 60.50 32.36 54.32 26.68 48.30 C 25.37 46.72 23.38 45.21 23.72 42.90 C 24.29 40.16 28.09 38.61 30.06 40.92 C 35.74 46.71 41.01 52.90 46.64 58.74 C 61.31 44.00 76.10 29.38 90.79 14.66 Z"/>
                          </g>
                        </svg>
                      {% endif %}
                    </div>
                    <span class="st_img-text-image-usp-item-text--{{ section.id }}">
                      {{ block.settings.text }}
                    </span>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="st_img-text-image--{{ section.id }}">
      {% if section.settings.bild %}
        <img style="width:100%" src="{{ section.settings.bild | image_url: width: "900" }}">
      {% else %}
        <img style="width:100%" src="https://placehold.co/600x400">
      {% endif %}

      {% if section.settings.gezoomtes_bild %}
        <img
          class="st_img-text-image-floating--{{ section.id }}"
          src="{{ section.settings.gezoomtes_bild | image_url: width: "400" }}"
        >
      {% else %}
        <img class="st_img-text-image-floating--{{ section.id }}" src="https://placehold.co/400x400">
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "💫: Image and Text",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "bild_position",
      "label": "Bild Position",
      "options": [
        {
          "value": "links",
          "label": "links"
        },
        {
          "value": "rechts",
          "label": "rechts"
        }
      ],
      "default": "rechts"
    },
    {
      "type": "image_picker",
      "id": "bild",
      "label": "Bild"
    },
    {
      "type": "image_picker",
      "id": "gezoomtes_bild",
      "label": "Gezoomtes Bild"
    },
    {
      "type": "text",
      "id": "titel",
      "label": "Titel",
      "default": "Limited Edition"
    },
    {
      "type": "text",
      "id": "sub_titel",
      "label": "Sub Titel",
      "default": "Perfekte Passform"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Sternify ist fantastisch. Es hat meine Conversasdasd as das daionrate extrem verbessert und meine Product page auf ein Level mit den experten der Industry gebracht und das ganz ohnadsasde Entwickler! Alles im Shopify Thembuilder.</p>",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Abstände"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Abstand nach oben",
      "min": -50,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Abstand nach unten",
      "min": -50,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Farben Einstellungen"
    },
    {
      "type": "color",
      "id": "titel_farbe",
      "label": "Titel Farbe",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "box_hintergrund",
      "label": "Vorteil Box Hintergrund",
      "default": "#F2F2F2"
    },
    {
      "type": "color",
      "id": "box_text",
      "label": "Vorteil Box Text",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "vorteil",
      "type": "vorteil",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Dein <b>Superduper</b> Vorteil</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "💫: Image and Text V1",
      "blocks": [
        {
          "type": "vorteil"
        },
        {
          "type": "vorteil"
        }
      ]
    }
  ]
}
{% endschema %}
